// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$dark: #14372a;
$accent: #ecb900;
$white: #fff;
$footer-bg: #264d3e;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// Media
$tablet: 992px;